.experience-bar {
    display:flex;
    align-items: center;
}

.experience-bar span {
    font-size: 4px;
}

.experience-bar > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background-color:var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}